.list-containt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 24px;
    .list{
        width: 80px;
        height: 60px;
        padding: 0 10px;
        border: 1px solid #000;
        box-sizing: border-box;
        margin-bottom: 16px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
