.tableHead{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.tableHead li{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    text-align: center;
    display: table;
}
.tableHead li div{
    width:'100%';height:'100%';
    display:table-cell; 
    vertical-align:middle; 
}
.th{
    background: #999;
}
.td{
    background: #fff;
}