.drawing-wrap{
  min-width: 1200px;
  max-width: 100%;
  height: 740px;
  position: relative;
  top: 0px ;
  left: 0px;
  background: #c0c5cf;
}
.drawing-item {
    cursor: move;
    width: 100px;
    height: 100px;
    /* background-color: #ccc; */
    position: absolute;
    top: 100px;
    left: 100px;
    box-sizing: border-box;
    border: 1px solid red;
    z-index: 1000;
}
.control-point{
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
  border: 1px solid #c0c5cf;
  box-shadow: 0 0 2px 0 rgba(86, 90, 98, .2);
  border-radius: 6px;
  padding: 4px;
  margin-top: -5px !important;
  margin-left: -5px !important;
  user-select: none;
  z-index: 1000;
}
.control-point.point-e{
  cursor: ew-resize;
  left: 100%;
  top: 50%;
  margin-left: 1px
}
.control-point.point-n{
  cursor: ns-resize;
  left: 50%;
  margin-top: -1px
}
.control-point.point-s{
  cursor: ns-resize;
  left: 50%;
  top: 100%;
  margin-top: 1px
}
.control-point.point-w{
  cursor: ew-resize;
  top: 50%;
  left: 0;
  margin-left: -1px
}
.control-point.point-ne {
  cursor: nesw-resize;
  left: 100%;
  margin-top: -1px;
  margin-left: 1px
}
.control-point.point-nw {
  cursor: nwse-resize;
  margin-left: -1px;
  margin-top: -1px
}
.control-point.point-se {
  cursor: nwse-resize;
  left: 100%;
  top: 100%;
  margin-left: 1px;
  margin-top: 1px
}
.control-point.point-sw {
  cursor: nesw-resize;
  top: 100%;
  margin-left: -1px;
  margin-top: 1px
}
.control-point.control-rotator{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: -30px;
  background-image: url("./accets/img/rotate.png");
  width: 22px;
  height: 22px;
  background-size: 100% 100%;
  z-index: 4;
  box-shadow: none;
  border: none;
  transform: translateX(-3px);
}
.box{
  position: absolute;
  width: 200px;
  height: 200px;
  background: red;
  left: 20px;
  top: 20px;
}
.containt{
 position: relative;
 height: 100vh;
 display: flex;
 display: -webkit-flex;
}
.left-list{
 
  width: 240px;
  height: 100%;
  background: #fff;
  z-index: 1;
}
.middle{
  /* margin-left: 230px;
  margin-right: 230px; */
  height: 100%;
  overflow: auto;
  flex: 1;
}
.right-list{
  width: 240px;
  height: 100%;
  background: #fff;
  padding: 16px 24px;
  box-sizing: border-box;
}
.middle-containt{
  width: 100%;
  /* height: 100%; */
  overflow: auto;
}

/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
*{box-sizing: border-box;}
html, body {
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  font-size:14px;
  color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}